In [67]:
import pandas as pd
import numpy as np
import seaborn as sns

In [68]:
df=pd.read_csv('top-5000-youtube-channels-data-from-socialblade.csv')

In [69]:
df

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433
5,6th,A++,Movieclips,30243,17149705,16618094724
6,7th,A++,netd m√ºzik,8500,11373567,23898730764
7,8th,A++,ABS-CBN Entertainment,100147,12149206,17202609850
8,9th,A++,Ryan ToysReview,1140,16082927,24518098041
9,10th,A++,Zee Marathi,74607,2841811,2591830307
10,11th,A+,5-Minute Crafts,2085,33492951,8587520379
11,12th,A+,Canal KondZilla,822,39409726,19291034467
12,13th,A+,Like Nastya Vlog,150,7662886,2540099931
13,14th,A+,Ozuna,50,18824912,8727783225
14,15th,A+,Wave Music,16119,15899764,10989179147
15,16th,A+,Ch3Thailand,49239,11569723,9388600275
16,17th,A+,WORLDSTARHIPHOP,4778,15830098,11102158475
17,18th,A+,Vlad and Nikita,53,--,1428274554
18,19th,A+,Badabun,3060,23603062,5860444053
19,20th,A+,WorkpointOfficial,24287,17687229,14022189654
20,21st,A+,xxxtentacion,48,11593509,2029279311
21,22nd,A+,Zee Music Company,3403,23440427,11666909155
22,23rd,A+,SAB TV,19358,11347420,9572788450
23,24th,A+,DeadloxMC,1833,2137907,245437560
24,25th,A+,ETV Andhra Pradesh,186194,712562,349096736
25,26th,A+,Shemaroo Filmi Gaane,5076,14469618,6585569190
26,27th,A+,ibighit,277,16924523,3437613314
27,28th,A+,El Reino Infantil,555,15836366,16395683234
28,29th,A+,Zee Telugu,92250,2902714,2754482753
29,30th,A+,Kirin AMV's,230,459906,224608044
...,...,...,...,...,...,...
4970,"4,971st",B+,Chilevisi√≥n,13547,885667,596835119
4971,"4,972nd",B+,SonyLIV,1206,2414713,483072980
4972,"4,973rd",B+,Fanatik Klasik Film,2071,673787,509406756
4973,"4,974th",B+,‡∏Ç‡∏≠‡∏á‡πÄ‡∏•‡πà‡∏ô‡πÅ‡∏™‡∏ô‡∏™‡∏ô‡∏∏‡∏Å‚Ä¶,202,829870,310449113
4974,"4,975th",B+,Rahim Pardesi,153,1436546,498989227
4975,"4,976th",B+,Funny Kids,1,150091,21933876
4976,"4,977th",B+,AvonBR,297,229079,343820279
4977,"4,978th",B+,Disney Channel Africa,2184,638404,596218763
4978,"4,979th",B+,–†–æ–º–∞ –°–≤–µ—Ç–ª–µ–Ω—å–∫–∏–π,49,106628,20229141
4979,"4,980th",B+,MonkeyBoo,707,1558006,441243129
4980,"4,981st",B+,Screen Junkies,878,6532616,2090085291
4981,"4,982nd",B+,Luli60able,5,158905,119924990
4982,"4,983rd",B+,Ï±ÑÎÑêA Home,9876,647435,827849271
4983,"4,984th",B+,–ú–∞—à–∏–Ω–∫–∞ –ò–≥—Ä—É—à–∫–∞,242,219238,116728609
4984,"4,985th",B+,Jean L,2116,2875705,673550521
4985,"4,986th",B+,AndreaBocelliVEVO,191,820381,485771289
4986,"4,987th",B+,CidadeAlertaRecord,7299,1123300,346376750
4987,"4,988th",B+,YouANDi Games,1358,1536819,424688400
4988,"4,989th",B+,GREAT IDEAS GREAT LIFE,80,1349511,46911690
4989,"4,990th",B+,Kukuli,219,660742,437197125
4990,"4,991st",B+,Ho Ngoc Ha's Official Channel,208,--,127185704
4991,"4,992nd",B+,Toys to Learn Colors,11,663114,141933264
4992,"4,993rd",B+,–ö–êZ–ö–ê,25,131766,74304638
4993,"4,994th",B+,United CUBE (CUBE Entertainment‚Ä¶,1055,1586835,371299166
4994,"4,995th",B+,Wings Marathi,1735,1099659,346175699
4995,"4,996th",B+,Uras Benlioƒülu,706,2072942,441202795
4996,"4,997th",B+,HI-TECH MUSIC LTD,797,1055091,377331722
4997,"4,998th",B+,Mastersaint,110,3265735,311758426
4998,"4,999th",B+,Bruce McIntosh,3475,32990,14563764
4999,"5,000th",B+,SehatAQUA,254,21172,73312511

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null object
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      5000 non-null object
Video views      5000 non-null int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [71]:
df.nunique()

Rank             5000
Grade               6
Channel name     4993
Video Uploads    2286
Subscribers      4612
Video views      5000
dtype: int64

In [72]:
df.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [73]:
df['Grade'].nunique()

6

In [74]:
df.columns

Index(['Rank', 'Grade', 'Channel name', 'Video Uploads', 'Subscribers',
       'Video views'],
      dtype='object')

In [75]:
df['Grade'].value_counts()

B+      2956
A-      1024
A        963
A+        41
A++       10
¬†          6
Name: Grade, dtype: int64

In [76]:
df['Grade']

0       A++
1       A++
2       A++
3       A++
4       A++
5       A++
6       A++
7       A++
8       A++
9       A++
10       A+
11       A+
12       A+
13       A+
14       A+
15       A+
16       A+
17       A+
18       A+
19       A+
20       A+
21       A+
22       A+
23       A+
24       A+
25       A+
26       A+
27       A+
28       A+
29       A+
        ...
4970     B+
4971     B+
4972     B+
4973     B+
4974     B+
4975     B+
4976     B+
4977     B+
4978     B+
4979     B+
4980     B+
4981     B+
4982     B+
4983     B+
4984     B+
4985     B+
4986     B+
4987     B+
4988     B+
4989     B+
4990     B+
4991     B+
4992     B+
4993     B+
4994     B+
4995     B+
4996     B+
4997     B+
4998     B+
4999     B+
Name: Grade, Length: 5000, dtype: object

In [77]:
df['Rank']=df['Rank'].apply(lambda x:x[:-2])

In [78]:
df['Rank']

0           1
1           2
2           3
3           4
4           5
5           6
6           7
7           8
8           9
9          10
10         11
11         12
12         13
13         14
14         15
15         16
16         17
17         18
18         19
19         20
20         21
21         22
22         23
23         24
24         25
25         26
26         27
27         28
28         29
29         30
        ...
4970    4,971
4971    4,972
4972    4,973
4973    4,974
4974    4,975
4975    4,976
4976    4,977
4977    4,978
4978    4,979
4979    4,980
4980    4,981
4981    4,982
4982    4,983
4983    4,984
4984    4,985
4985    4,986
4986    4,987
4987    4,988
4988    4,989
4989    4,990
4990    4,991
4991    4,992
4992    4,993
4993    4,994
4994    4,995
4995    4,996
4996    4,997
4997    4,998
4998    4,999
4999    5,000
Name: Rank, Length: 5000, dtype: object

In [79]:
df['Rank']=df['Rank'].apply(lambda x:x.replace(',','')).astype('int')

In [80]:
df['Rank']

0          1
1          2
2          3
3          4
4          5
5          6
6          7
7          8
8          9
9         10
10        11
11        12
12        13
13        14
14        15
15        16
16        17
17        18
18        19
19        20
20        21
21        22
22        23
23        24
24        25
25        26
26        27
27        28
28        29
29        30
        ...
4970    4971
4971    4972
4972    4973
4973    4974
4974    4975
4975    4976
4976    4977
4977    4978
4978    4979
4979    4980
4980    4981
4981    4982
4982    4983
4983    4984
4984    4985
4985    4986
4986    4987
4987    4988
4988    4989
4989    4990
4990    4991
4991    4992
4992    4993
4993    4994
4994    4995
4995    4996
4996    4997
4997    4998
4998    4999
4999    5000
Name: Rank, Length: 5000, dtype: int32

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null int32
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      5000 non-null object
Video views      5000 non-null int64
dtypes: int32(1), int64(1), object(4)
memory usage: 214.9+ KB

In [82]:
df[df['Video Uploads']=='--']

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
267,268,,MidnightXChannel,--,--,190256974
517,518,,Dusama Pets TV,--,--,91601494
2323,2324,,Random,--,12275,17897584
3072,3073,,Boram Tube Toy Shcool [Î≥¥ÎûåÌäúÎ∏å‚Ä¶,--,726527,205555289
3247,3248,,atheer sultan,--,--,79663674
4898,4899,,ExzoticSlice,--,99785,9745292

In [83]:
df[df['Video Uploads']=='--'].index

Int64Index([267, 517, 2323, 3072, 3247, 4898], dtype='int64')

In [84]:
val=df[df['Video Uploads']=='--'].index

In [85]:
df.drop([267, 517, 2323, 3072, 3247, 4898],axis=0,inplace=True)

In [86]:
df.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1,A++,Zee TV,82757,18752951,20869786591
1,2,A++,T-Series,12661,61196302,47548839843
2,3,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4,A++,SET India,27323,31180559,22675948293
4,5,A++,WWE,36756,32852346,26273668433

In [87]:
df['Video Uploads']=df['Video Uploads'].astype('int')

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4994 entries, 0 to 4999
Data columns (total 6 columns):
Rank             4994 non-null int32
Grade            4994 non-null object
Channel name     4994 non-null object
Video Uploads    4994 non-null int32
Subscribers      4994 non-null object
Video views      4994 non-null int64
dtypes: int32(2), int64(1), object(3)
memory usage: 234.1+ KB

In [89]:
#max video uploads
df['Video Uploads'].max()

422326

In [90]:
df[df['Video Uploads']==df['Video Uploads'].max()]

      Rank Grade Channel name  Video Uploads Subscribers  Video views
3453  3454   B+    AP Archive         422326      746325    548619569

In [91]:
#top 5 channels that have max views
df.sort_values(by=['Video views'],ascending=False).head(5)

   Rank Grade     Channel name  Video Uploads Subscribers  Video views
1     2  A++          T-Series          12661    61196302  47548839843
4     5  A++               WWE          36756    32852346  26273668433
8     9  A++   Ryan ToysReview           1140    16082927  24518098041
6     7  A++        netd m√ºzik           8500    11373567  23898730764
3     4  A++         SET India          27323    31180559  22675948293

In [92]:
#top 5 channels that have max subscribers
df.sort_values(by=['Subscribers'],ascending=False).head(5)

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
1002,1003,A,BIGBANG,769,9998464,4756874954
75,76,A,Doggy Doggy Play Doh Cartoons,909,9994112,3155585139
306,307,A,DrakeVEVO,38,9987454,4908039128
1336,1337,A-,HooplaKidz Fran“´ais - Comptines et‚Ä¶,358,997671,240365487
704,705,A,MrSuicideSheep,2077,9972603,3933001232

In [93]:
df.nunique()

Rank             4994
Grade               5
Channel name     4987
Video Uploads    2285
Subscribers      4609
Video views      4994
dtype: int64

In [94]:
df['Subscribers'].sort_values(ascending=False).head(5)

1002    9998464
75      9994112
306     9987454
1336     997671
704     9972603
Name: Subscribers, dtype: object

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4994 entries, 0 to 4999
Data columns (total 6 columns):
Rank             4994 non-null int32
Grade            4994 non-null object
Channel name     4994 non-null object
Video Uploads    4994 non-null int32
Subscribers      4994 non-null object
Video views      4994 non-null int64
dtypes: int32(2), int64(1), object(3)
memory usage: 234.1+ KB

In [96]:
df['Rank']

0          1
1          2
2          3
3          4
4          5
5          6
6          7
7          8
8          9
9         10
10        11
11        12
12        13
13        14
14        15
15        16
16        17
17        18
18        19
19        20
20        21
21        22
22        23
23        24
24        25
25        26
26        27
27        28
28        29
29        30
        ...
4970    4971
4971    4972
4972    4973
4973    4974
4974    4975
4975    4976
4976    4977
4977    4978
4978    4979
4979    4980
4980    4981
4981    4982
4982    4983
4983    4984
4984    4985
4985    4986
4986    4987
4987    4988
4988    4989
4989    4990
4990    4991
4991    4992
4992    4993
4993    4994
4994    4995
4995    4996
4996    4997
4997    4998
4998    4999
4999    5000
Name: Rank, Length: 4994, dtype: int32

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4994 entries, 0 to 4999
Data columns (total 6 columns):
Rank             4994 non-null int32
Grade            4994 non-null object
Channel name     4994 non-null object
Video Uploads    4994 non-null int32
Subscribers      4994 non-null object
Video views      4994 non-null int64
dtypes: int32(2), int64(1), object(3)
memory usage: 234.1+ KB

In [98]:
df['Subscribers'].astype('int')

ValueError: invalid literal for int() with base 10: '-- '

In [99]:
df[df['Subscribers'].str.contains('--')]

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
17,18,A+,Vlad and Nikita,53,--,1428274554
108,109,A,BIGFUN,373,--,941376171
115,116,A,Bee Kids Games - Children TV,740,--,414535723
142,143,A,ChiChi TV Si√™u Nh√¢n,421,--,2600394871
143,144,A,MusicTalentNow,1487,--,3252752212
152,153,A,Family GamesTV,282,--,1287242549
156,157,A,KH Show,31,--,106302038
175,176,A,LES BOYS TV2,116,--,387595623
180,181,A,BIBO TOYS,313,--,1574657579
189,190,A,Kids Tv Show,8,--,86516866
192,193,A,Happy Funny Kids Toys Pretend Play,850,--,1778372917
197,198,A,Learn Colors Keiki,6,--,89116512
209,210,A,Ly LY ToysReview,33,--,90941513
213,214,A,Beat ch·∫•t l∆∞·ª£ng cao,563,--,622132999
223,224,A,Purana Hindustan,91,--,501921413
230,231,A,Happy Lives,188,--,515722472
234,235,A,Salih Reis'in D√ºnyasƒ±,237,--,2197191069
235,236,A,News ThatMatter,365,--,77361248
238,239,A,PlayGammer100,7,--,261227
253,254,A,Flipkart,604,--,718345351
255,256,A,Los Juguetes BB,114,--,82824448
291,292,A,Sham Drama ÿ¥ÿßŸÖ ÿØÿ±ÿßŸÖÿß,6494,--,885923365
322,323,A,Ghi·ªÅn Phim H√†n,854,--,1072407139
326,327,A,Bollywood Event Talkies,10,--,350
346,347,A,Jhankar Station 07,205,--,78360362
357,358,A,Purani Kahani,66,--,205282926
382,383,A,El Blog del Narco,4449,--,70680037
391,392,A,apple kids,70,--,370257049
392,393,A,DLS News,1579,--,514253195
410,411,A,ABC Kids TV,164,--,581905887
...,...,...,...,...,...,...
4630,4631,B+,92 News HD,30811,--,134021190
4645,4646,B+,Bangla Gorom News,1896,--,151760154
4653,4654,B+,Fingerwager,22,--,119546477
4657,4658,B+,knowledge master,806,--,248868112
4663,4664,B+,PTV Cricket,1351,--,132162672
4668,4669,B+,TTV BTW,69,--,11325628
4687,4688,B+,ÿπÿßŸÑŸÖ ÿßŸÑÿ•ÿ®ÿØÿßÿπ - Creative‚Ä¶,216,--,145773941
4690,4691,B+,Tizcall,68,--,108495917
4695,4696,B+,My Tam,264,--,538371669
4704,4705,B+,Louie Rochester,73,--,75536179
4715,4716,B+,Mickey Baby Tv,47,--,39117306
4730,4731,B+,Perfect Life,263,--,156462604
4748,4749,B+,Samsung South Africa,311,--,96264871
4771,4772,B+,ÿßŸÑÿπÿßŸÑŸÖŸäÿ© ŸÑŸÑÿ™ÿ±ŸÅŸäÿ© HD,231,--,36001078
4786,4787,B+,Justin Wright S.,458,--,289623382
4802,4803,B+,News Now,4234,--,240258091
4822,4823,B+,ŸÖÿ¥ÿßŸáŸäÿ±ŸÜÿß,350,--,51775617
4836,4837,B+,CARS 4 KIDS,478,--,1643267574
4844,4845,B+,Khatulistiwa Record,132,--,153432783
4886,4887,B+,Xpose News,40476,--,204810831
4892,4893,B+,Everything For U,184,--,69313209
4893,4894,B+,VB Musicas,71,--,48275804
4895,4896,B+,Totoykids Explorer,165,--,363738234
4912,4913,B+,ÿßÿÆÿ™ÿ±ŸÜÿß ŸÑŸÉ,775,--,95271752
4936,4937,B+,ÊùéÂ©∂ÂÑøËØ¥ÁîµÂΩ±,139,--,53572147
4941,4942,B+,GMTV,183,--,127080542
4948,4949,B+,Keivon ToysReview,468,--,481568513
4956,4957,B+,CLICKNEWS,2661,--,139940815
4961,4962,B+,ONE Championship,905,--,109836654
4990,4991,B+,Ho Ngoc Ha's Official Channel,208,--,127185704

In [100]:
a=df[df['Subscribers'].str.contains('--')].index

In [101]:
df.drop(a,axis=0,inplace=True)

In [102]:
df['Subscribers']=df['Subscribers'].astype('int')

In [57]:
df['Channel name'].str.lower()

0                                 zee tv
1                               t-series
2             cocomelon - nursery rhymes
3                              set india
4                                    wwe
5                             movieclips
6                             netd m√ºzik
7                  abs-cbn entertainment
8                        ryan toysreview
9                            zee marathi
10                       5-minute crafts
11                       canal kondzilla
12                      like nastya vlog
13                                 ozuna
14                            wave music
15                           ch3thailand
16                       worldstarhiphop
18                               badabun
19                     workpointofficial
20                          xxxtentacion
21                     zee music company
22                                sab tv
23                             deadloxmc
24                    etv andhra pradesh
25                  shemaroo filmi gaane
26                               ibighit
27                     el reino infantil
28                            zee telugu
29                           kirin amv's
30                            zee bangla
                      ...
4969                          oleg zotov
4970                         chilevisi√≥n
4971                             sonyliv
4972                 fanatik klasik film
4973                     ‡∏Ç‡∏≠‡∏á‡πÄ‡∏•‡πà‡∏ô‡πÅ‡∏™‡∏ô‡∏™‡∏ô‡∏∏‡∏Å‚Ä¶
4974                       rahim pardesi
4975                          funny kids
4976                              avonbr
4977               disney channel africa
4978                    —Ä–æ–º–∞ —Å–≤–µ—Ç–ª–µ–Ω—å–∫–∏–π
4979                           monkeyboo
4980                      screen junkies
4981                          luli60able
4982                            Ï±ÑÎÑêa home
4983                     –º–∞—à–∏–Ω–∫–∞ –∏–≥—Ä—É—à–∫–∞
4984                              jean l
4985                   andreabocellivevo
4986                  cidadealertarecord
4987                       youandi games
4988              great ideas great life
4989                              kukuli
4991                toys to learn colors
4992                               –∫–∞z–∫–∞
4993    united cube (cube entertainment‚Ä¶
4994                       wings marathi
4995                      uras benlioƒülu
4996                   hi-tech music ltd
4997                         mastersaint
4998                      bruce mcintosh
4999                           sehataqua
Name: Channel name, Length: 4610, dtype: object

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4610 entries, 0 to 4999
Data columns (total 6 columns):
Rank             4610 non-null int32
Grade            4610 non-null object
Channel name     4610 non-null object
Video Uploads    4610 non-null int32
Subscribers      4610 non-null int32
Video views      4610 non-null int64
dtypes: int32(3), int64(1), object(2)
memory usage: 198.1+ KB

In [105]:
df['Grade'].unique()

array(['A++ ', 'A+ ', 'A ', 'A- ', 'B+ '], dtype=object)

In [106]:
cmap={'A++ ':1, 'A+ ':2, 'A ':3, 'A- ':4, 'B+ ':5}

In [107]:
df['Grade']=df['Grade'].map(cmap)

In [109]:
df['Grade'].value_counts()

5    2722
4     941
3     897
2      40
1      10
Name: Grade, dtype: int64

In [110]:
df['Grade'].astype(int)

0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      2
11      2
12      2
13      2
14      2
15      2
16      2
18      2
19      2
20      2
21      2
22      2
23      2
24      2
25      2
26      2
27      2
28      2
29      2
30      2
       ..
4969    5
4970    5
4971    5
4972    5
4973    5
4974    5
4975    5
4976    5
4977    5
4978    5
4979    5
4980    5
4981    5
4982    5
4983    5
4984    5
4985    5
4986    5
4987    5
4988    5
4989    5
4991    5
4992    5
4993    5
4994    5
4995    5
4996    5
4997    5
4998    5
4999    5
Name: Grade, Length: 4610, dtype: int32

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4610 entries, 0 to 4999
Data columns (total 6 columns):
Rank             4610 non-null int32
Grade            4610 non-null int64
Channel name     4610 non-null object
Video Uploads    4610 non-null int32
Subscribers      4610 non-null int32
Video views      4610 non-null int64
dtypes: int32(3), int64(2), object(1)
memory usage: 198.1+ KB